<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #E0FFFF;">
	<div class="container-fluid" style="background-color: #E0FFFF;">
		<a class="navbar-brand" href="#">
			<img src="{{ asset('images/logo.jpg') }}" alt="Logo de Sortir V2" width="30" height="30" class="d-inline-block align-text-top">
			Sortir V2
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Administration
							</a>
							<ul class="dropdown-menu" aria-labelledby="adminDropdown">
								<li><a class="dropdown-item" href="{{ path('app_user_index') }}">Utilisateurs</a></li>
								<li><a class="dropdown-item" href="#">Villes</a></li>
								<li><a class="dropdown-item" href="#">Sites</a></li>
							</ul>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_sortie_index') }}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_user_edit', { id: app.user.id }) }}">Mon profil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
					</li>
					<li class="nav-item">
						<p class="nav-link"> {{ app.user.firstName }} {{ app.user.lastName }}</p>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>