

{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="d-flex gap-2">
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    <a class="btn btn-primary" href="{{ path('app_sortie_index') }}">Back to list</a>

    {% if (app.user is same as sortie.planner and sortie.status.id != 6) or is_granted('ROLE_ADMIN') and sortie.status.id != 6 %}
        <a href="#" id="btn-delete" class="btn btn-danger">Delete</a>
    {% endif %}
</div>
{{ form_end(form) }}
