{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}

    <p>{{ app.user.firstName }} {{ app.user.lastName }}</p>
    <h1>Sortie index</h1>
    <section>
    <a class="btn btn-primary m-3" href="{{ path('app_sortie_new') }}">Create new</a>
        <form method="get" action="{{ path('app_sortie_filter') }}">
            <input type="text" name="search" placeholder="Rechercher une sortie" value="{{ app.request.query.get('search') }}">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>
        <form method="get" action="{{ path('app_sortie_filter') }}">
            <input type="date" name="start_date" value="{{ app.request.query.get('start_date') }}">
            <input type="date" name="end_date" value="{{ app.request.query.get('end_date') }}">
            <button type="submit" class="btn btn-primary">Filtrer par dates</button>
        </form>
        <select name="site" id="site" onchange="location = this.value;">
            <option value="">-- Choisir un filtre --</option>
            {% for site in sites %}
                <option value="{{ path('app_sortie_filter', {'site' :  site.id }) }}">{{ site.name }}</option>

            {% endfor %}
        </select>
        <ul>
            <li><a href="{{ path('app_sortie_filter') }}">All</a></li>
            <li><a href="{{ path('app_sortie_filter', {'planner' : 'organisteur'}) }}">Sorties dont je suis l'organisateur/trice</a></li>
            <li><a href="{{ path('app_sortie_filter', {'members' : 'inscrit'}) }}">Sorties auxquelles je suis inscrit/e</a></li>
            <li><a href="{{ path('app_sortie_filter', {'members' : 'noInscrit'}) }}">Sorties auxquelles je ne suis pas inscrit/e</a></li>
            <li><a href="{{ path('app_sortie_filter', {'status': 'ouverte'}) }}">Sorties ouvertes</a></li>
            <li><a href="{{ path('app_sortie_filter', {'status' : 'terminée'}) }}">Sorties passées</a></li>
        </ul>
    </section>
    <table class="table">
        <thead>
            <tr>

                <th>Nom de l'évènement </th>
                <th>Début de l'évènement</th>


                <th>Limite d'inscriptions</th>
                <th>Etat</th>


                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>

                <td>{{ sortie.nom }}</td>
<td>{{ sortie.startAt ? sortie.startAt|date('Y-m-d H:i:s') : '' }}</td>
<td>{{ sortie.members|length }} / {{ sortie.limitMembers }}</td>
<td>{{ sortie.status.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Show</a>
                   {% if app.user and sortie.status.name is same as 'Ouverte' and not  sortie.members.contains(app.user) %}
                    <form method="post" action="{{ path('app_sortie_sub', {'id': sortie.id}) }}" style="display: inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('inscription' ~ sortie.id) }}">
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    </form>
                    {% endif %}
                    {% if app.user and  sortie.members.contains(app.user) and (sortie.status.name is same as ('Ouverte') or sortie.status.name is same as ('Cloturée')) %}
                        <form method="post" action="{{ path('app_sortie_unSub', {'id': sortie.id}) }}" style="display: inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('desinscription' ~ sortie.id) }}">
                            <button type="submit" class="btn btn-primary">Se désister</button>
                        </form>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') or sortie.planner is same as app.user  %}
                        <a class="btn btn-primary" href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Edit</a>

                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
