{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>StartAt</th>


                <th>LimitMembers</th>
                <th>Etat</th>


                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>

                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.startAt ? sortie.startAt|date('Y-m-d H:i:s') : '' }}</td>


                <td>{{ sortie.limitMembers }}</td>
                <td>{{ sortie.status.name }}</td>

                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">show</a>
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}">Create new</a>
{% endblock %}
