{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    {# Add user.site.name as text if user is not admin #}
    {% if not is_granted('ROLE_ADMIN') and user.site %}
        <p class="text-muted">Ville de rattachement : {{ user.site.name }}</p>
    {% endif %}
<div class="d-flex gap-2">
    <button class="btn btn-success mb-3">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('app_user_index') }}" class="btn btn-danger mb-3">Annuler</a>
</div>
{{ form_end(form) }}
