{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Modification{% endblock %}

{% block body %}

    <h1 class="mt-md-3 " style="color: #66563C">Mon profil</h1>
    <div class=" d-flex align-items-start">
        {% if user.photo %}
            <img src="{{ asset('uploads/photo/' ~ user.photo) }}" alt="Photo de profil de {{ user.pseudo|e }}" class=" img-thumbnail me-3" style="width: 150px; height: 150px;">
        {% else %}
            <img src="{{ asset('images/profil_vide.jpg') }}" alt="Photo de profil par défaut" class=" img-thumbnail me-3" style="width: 150px; height: 150px;">
        {% endif %}
        <div class=" flex-grow-1">
            {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('user/_delete_form.html.twig') }}
            {% endif %}
        </div>

    </div>

{% endblock %}
