{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent() }} - Importer des utilisateurs{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-3" style="color: #66563C  ;">Importer des utilisateurs via un fichier CSV</h1>

    {{ form_start(form) }}
    {{ form_row(form.csv_file) }}
    <div class="d-flex gap-2 mt-3">
        <button class="btn btn-success">Importer utilisateurs</button>
        <a href="{{ path('app_user_index') }}" class="btn btn-danger">Retour</a>
    </div>
    {{ form_end(form) }}

{% endblock %}