{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-3" style="color: #66563C  ;">Liste utilisateurs</h1>

    <a href="{{ path('app_user_new') }}" class=" btn mb-3" style="background-color: #66563C ; color: white;">Créer utilisateur</a>
    <a href="{{ path('app_user_import') }}" class="btn btn-success mb-3">Importer utilisateurs</a>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="background-color: #E0FFFF; color: #66563C">Pseudo</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Prénom</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Nom</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Téléphone</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Email</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Actif</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.email }}</td>
                    <td class="{{ user.isActive ? 'text-success' : 'text-danger' }}">
                        {{ user.isActive ? 'Oui' : 'Non' }}
                    </td>
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary btn-sm" >Détails</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">Pas d'utilisateur</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
