{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-3" style="color: #66563C  ;">Liste utilisateurs</h1>

    <a href="{{ path('app_user_new') }}" class=" btn mb-3" style="background-color: #66563C ; color: white;">Créer
        utilisateur</a>
    <a href="{{ path('app_user_import') }}" class="btn btn-success mb-3">Importer utilisateurs</a>
    <a href="{{ path('app_user_export') }}" class="btn btn-info mb-3">Exporter utilisateurs</a>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-3">{{ form_row(form.pseudo) }}</div>
        <div class="col-md-3">{{ form_row(form.firstName) }}</div>
        <div class="col-md-3">{{ form_row(form.lastName) }}</div>
        <div class="col-md-3">{{ form_row(form.email) }}</div>
        <div class="col-md-3">{{ form_row(form.isActive) }}</div>
        <div class="col-md-3">{{ form_row(form.sort) }}</div>
        <div class="col-md-3">{{ form_row(form.order) }}</div>
    </div>
    <button class="btn btn-primary mb-3">Filtrer</button>
    <a href="{{ path('app_user_index') }}" class="btn btn-danger mb-3">Réinitialiser</a>
    {{ form_end(form) }}

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th style="background-color: #E0FFFF; color: #66563C">Pseudo</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Prénom</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Nom</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Téléphone</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Email</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Actif</th>
                    <th style="background-color: #E0FFFF; color: #66563C">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in pagination %}
                <tr>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.email }}</td>
                    <td class="{{ user.isActive ? 'text-success' : 'text-danger' }}">
                        {{ user.isActive ? 'Oui' : 'Non' }}
                    </td>
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary btn-sm">Voir</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}"
                           class="btn btn-warning btn-sm">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">Pas d'utilisateur</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
