{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste{% endblock %}

{% block body %}
    <h1>{{ user.pseudo}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom :</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Nom :</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Téléphone :</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Email :</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Ville de rattachement :</th>
                <td>{{ user.site.name }}</td>
            </tr>
        </tbody>
    </table>

{#    <a href="{{ path('app_user_index') }}">back to list</a>#}

{#    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>#}

{#    {{ include('user/_delete_form.html.twig') }}#}

    <a href="{{ path('app_user_index') }}">Retour</a>
{% endblock %}
